@import "../../../source/styles/mixin.scss";

.TemBlock {
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  padding: 0 20px;
  @include screen($tablet){
    padding: 0 10px;
  }

  .headerBlock{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
  }

  .mainBlock{
    display: flex;
    width: 100%;
    max-width: 100%;
    @include screen(1600px){
      align-items: end;
    }


    .personImgBlock{
      width: 750px;
      min-width: 750px;
      height: 850px;
      position: relative;
      @include screen(1600px){
        width: 600px;
        min-width: 600px;
        height: 700px;
      }
      @include screen($wide){
        width: 450px;
        min-width: 450px;
        height: 550px;
      }
      @include screen($tablet-l){
        display: none;
      }
      .personImg{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.5s ease-in-out all;
      }

      .shadow{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(40%);
        height: 125px;
        border-radius: 40%;
        filter: blur(30px);
        background-color: black;
      }
    }

    .headCont{
      display: flex;
      align-items: end;

      @include screen($tablet-m){
        flex-direction: column;
        align-items: center;
      }

      .personImgBlockInside{
        display: none;
        width: 350px;
        height: 400px;
        min-width: 350px;
        position: relative;
        @include screen($tablet-l){
          display: block;
          margin-right: 20px;
        }
        @include screen($tablet-w){
          width: 300px;
          height: 350px;
          min-width: 300px;
        }
        @include screen($tablet-m){
          margin-bottom: 20px;
        }



        .personImg{
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .shadow{
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translateY(40%);
          height: 80px;
          border-radius: 40%;
          filter: blur(20px);
          background-color: black;
          z-index: 2;
        }



      }

    }

    .infoBlock{
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      margin-top: 120px;
      padding: 20px;
      width: available;
      @include screen($tablet-l){
        margin: 0;
      }
      @include screen($tablet){
        padding: 10px;
      }
      @include screen($tablet-m){
        padding: 0 0 20px;
      }
      .Gname{
        font-size: 45px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #EFEFF1;
        line-height: 120%;
        text-transform: uppercase;
        transition: 0.8s ease-in-out all;
        transform: translateY(50px);
        opacity: 0;
        @include screen($wide-l){
          font-size: 30px;
        }
      }
      .Gprofession{
        margin-bottom: 25px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #A6A6A6;
        line-height: 120%;
        text-transform: uppercase;
        font-size: 45px;
        transition: 1.2s ease-in-out all;
        transform: translateY(50px);
        opacity: 0;
        @include screen($wide-l){
          font-size: 30px;
        }
      }
      .Ginfo{
        margin-bottom: 8px;
        height: 128px;
        max-width: 650px;
        font-size: 25px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #A6A6A6;
        line-height: 130%;
        text-transform: uppercase;
        transition: 1.6s ease-in-out all;
        transform: translateY(50px);
        opacity: 0;
        @include screen($wide-l){
          font-size: 15px;
          height: 80px;
        }
        @include screen($tablet-w){
          height: 120px;
        }
      }
      .activeText{
        transform: translateY(0) !important;
        opacity: 1 !important;
      }

      .count{
        font-size: 50px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #A6A6A6;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 16px;
        @include screen($wide-l){
          font-size: 40px;
        }
      }

      .sectionsBlock{
        width: 90%;
        display: flex;
        justify-content: space-between;
        gap: 8px;

        .line{
          background-color: #2F2F2F;
          height: 4px;
          flex-grow: 1;
          transition: 0.5s ease-in-out all;
        }

        .activeLine{
          background-color: white;
          box-shadow: 0 0 4px 0.5px white;
        }

      }
      .personsCardCont{
        width: 100%;
        max-width: 100%;
        overflow: auto;
        margin-top: 45px;
        position: relative;




        .personsCardBlock{
          width: available;
          display: flex;
          align-items: center;
          gap: 25px;
          @include screen($wide-l){
            gap: 20px;
          }

          .PersonCard{
            padding: 0 20px 20px;
            max-width: 310px;
            min-width: 310px;
            width: 310px;
            border: 2px solid #2F2F2F;
            border-radius: 20px;
            cursor: pointer;
            overflow: hidden;
            transition: 0.5s ease-in-out all;

            @include screen($wide-l){
              max-width: 225px;
              height: 225px;
              min-width: 225px;
            }
            @include screen($tablet){
              padding: 0 0 20px;
            }
            @include screen($tablet-m){
              min-width: 180px;
              max-width: 180px;
              height: 200px;
            }
            @include screen($mobile-l){
              min-width: 160px;
              max-width: 160px;
              height: 180px;
            }

            .imgBlock{
              width: 100%;
              height: 280px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              position: relative;
              @include screen($wide-l){
                height: 200px;
              }
              @include screen($tablet-m){
                height: 180px;
              }
              @include screen($mobile-l){
                height: 160px;
              }
              .shadow{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 40%);
                background-color: black;
                height: 50px;
                border-radius: 50%;
                filter: blur(10px);
                width: 150%;
              }

              .personInfoBlock{
                position: absolute;
                left: 10px;
                bottom: -30px;

                .name{
                  font-size: 20px;
                  font-family: 'Trap-SemiBold', sans-serif;
                  color: #EFEFF1;
                  line-height: 120%;
                  text-transform: uppercase;
                  transition: 0.5s ease-in-out all;
                }
                .profession{
                  font-size: 20px;
                  margin-bottom: 25px;
                  font-family: 'Trap-SemiBold', sans-serif;
                  color: #A6A6A6;
                  line-height: 120%;
                  text-transform: uppercase;
                }

              }
            }
          }
          .activeCard{
            border: 2px solid #FFF;
          }

        }
      }

      .buttonsCont{
        width: 100%;
        position: relative;
        z-index: 8;
        transform: translateY(-170px);
        @include screen($wide-l){
          transform: translateY(-130px);
        }
        @include screen($tablet){
          display: none;
        }

        .slideBtn{
          position: absolute;
          border: 1px solid white;
          padding: 8px;
          border-radius: 50%;
          z-index: 7;
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.6);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.5s ease-in-out all;
          &:hover{
            scale: 1.05;
          }
          img{
            width: 32px;
          }
        }

        .leftBtn{
          left: 10px;
          top: 50%;
          img{
            transform: rotate(180deg);
          }
        }
        .rightBtn{
          right: 10px;
          top: 50%;
        }

      }

    }

  }

}