
.ButtonsBlock {
  padding: 100px 50px 0;
  width: 100%;
  position: relative;


  .buttonsContC{
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out all;
    transform: translateX(0);

  }
  .activeButtonsBlock{
    transition: 2s ease-in-out all !important;
    animation: ToLeftAnim 2s linear;
  }


  .headerBlock {
    font-size: 64px;
    color: white;
    font-family: 'Trap-Bold', sans-serif;
    line-height: normal;
    text-transform: uppercase;
    animation: shakeAnim 15s linear infinite;

    .headerLine {
      animation: lightningAnim 12s linear infinite;
      opacity: 0;

      .word {
        transform: translateX(30%);
        transition: 1.5s ease-in-out;
      }

      transition: 1.5s ease-in-out;
    }

    .fromRight1 {
      opacity: 1;

      .word {
        transform: translateX(0);
        transition: 1.5s ease-in-out;

      }
    }
  }

  .backgroundImage {
    position: absolute;
    top: 100px;
    right: 50px;
  }

  .buttonsCont {
    display: flex;
    justify-content: space-between;

    .buttonsBlock {
      transform: translateY(-100px);
      width: 600px;
      max-width: 600px;
      flex-grow: 2;
      height: 600px;
      padding: 50px 50px 0;
      position: relative;

      .flex {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 5px;

        div {
          padding-top: 3px;
        }
      }

      .end {
        justify-content: end;
      }

      .center {
        justify-content: center;
      }

      .start {
        justify-content: start;
      }


      .BlackText {
        font-family: 'Trap-Black', sans-serif !important;
        width: 215px !important;
      }

      .block1 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 180px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 60px;
        text-align: center;
        background-color: #1D1D1D;
        font-size: 14px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: white;
        text-transform: uppercase;
        line-height: 100%;
        transition: 1s ease-in-out all;
        transform: translate(0) rotate(0);
      }

      .block2 {
        width: 180px !important;
        background-color: white;
        color: #1D1D1D;
        height: 35px;

      }

      .block3 {
        height: 35px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 60px;
        text-align: center;
        background-color: #BEBEBE;
        font-size: 10px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #1D1D1D !important;
        text-transform: uppercase;
        line-height: 100%;
        transition: 1s ease-in-out all;
        transform: translate(0) rotate(0);

      }

      .block4 {
        height: 35px;
        background-color: #FF6C2C !important;
        color: white !important;
        font-size: 14px !important;
      }

      .block5 {
        height: 35px;
        background-color: white !important;
        color: #1D1D1D !important;
        font-size: 14px !important;
      }

      .block6 {
        background-color: #FF6C2C !important;
        font-size: 10px !important;
        font-family: 'Trap-SemiBold', sans-serif !important;
      }

      .block7 {
        font-size: 14px !important;
        margin-right: 50px;
      }

      .block8 {
        margin-right: 50px;
        background: transparent !important;
        color: white !important;
        border: 1px solid white;
        font-size: 10px;
        font-family: 'Trap-SemiBold', sans-serif;
      }

      .block1Fall{
        transform: translate(0, 385px) rotate(2deg);
        animation: falling1 3s linear;
      }
      .block2Fall{
        transform: translate(15px, 382px) rotate(-6deg);
        //transform: translate(7px, 370px) rotate(-8deg);
        animation: falling2 3s linear;
      }
      .block3Fall{
        transform: translate(95px, 390px) rotate(8deg);

        animation: falling3 2.7s linear;
      }
      .block4Fall{
        transform: translate(80px, 421px) rotate(45deg);
        animation: falling4 2.7s linear;
        //transform: translate(70px, 410px) rotate(45deg);
      }
      .block5Fall{
        transform: translate(-60px, 383px) rotate(-38deg);
        animation: falling5 2.5s linear;

      }
      .block6Fall {
        transform: translate(-85px, 365px) rotate(20deg);
        animation: falling6 2.4s linear;
        //transform: translate(-95px, 360px) rotate(20deg);


      }
      .block7Fall {
        transform: translate(25px, 352px) rotate(20deg);
        animation: falling7 2s linear;
      }
      .block8Fall {
        transform: translate(30px, 355px) rotate(0);
        animation: falling8 1.8s linear;
      }
      .block9Fall {
        transform: translate(0, 350px) rotate(0);
        animation: falling9 1.6s linear;
      }
      .block10Fall {
        transform: translate(0, 350px) rotate(0);
        animation: falling10 1.5s linear;
      }



    }

    .prgCont {
      width: 50%;
      max-width: 50%;
      flex-grow: 2;

      .prg1Cont {
        overflow: hidden;
        animation: shakeAnim 20s linear infinite;

        .prg1Block {
          .textLine {
            font-size: 24px;
            text-transform: uppercase;
            color: white;
            line-height: 100%;
            font-family: 'Trap-Bold', sans-serif;
          }
        }

        .textSlide2 {
          animation: viewAnimPrg1 4s linear;
        }


      }

      .prg2Cont {
        margin-left: 5%;
        animation: shakeAnim 10s linear infinite;

        .prg1Block {
          margin-top: 40px;
          transform: translateX(-300px);
          opacity: 0;
          transition: 1s ease-in-out all;

          .textLine {
            font-size: 24px;
            color: white;
            text-transform: uppercase;
            font-family: 'Trap-Bold', sans-serif;
            line-height: 100%;
          }
        }

        .fromLeftAnim {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }


  .buttonsCont {

  }

}

@keyframes ToLeftAnim {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}



@keyframes falling1 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 15px) rotate(0);
  }
  20% {
    transform: translate(0, 100px) rotate(0);
  }
  60% {
    transform: translate(0, 385px) rotate(2deg);
  }
  75%{
    transform: translate(0, 380px) rotate(0deg);
  }
  100% {
    transform: translate(0, 385px) rotate(2deg);
  }
}

@keyframes falling2 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 15px) rotate(0);
  }
  20% {
    transform: translate(0, 100px) rotate(0);
  }
  65% {
    transform: translate(0px, 375px) rotate(-10deg);
  }
  77%{
    transform: translate(5px, 375px) rotate(-8deg);
  }
  89%{
    transform: translate(10px, 378px) rotate(-7deg);
  }


  100% {
    transform: translate(15px, 382px) rotate(-6deg);
  }
}

@keyframes falling3 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 15px) rotate(0);
  }
  20% {
    transform: translate(0, 100px) rotate(0);
  }
  62% {
    transform: translate(0, 370px) rotate(20deg);
  }
  70%{
    transform: translate(20px, 375px) rotate(20deg);
  }
  90% {
    transform: translate(85px, 389px) rotate(10deg);
  }

  100% {
    transform: translate(95px, 390px) rotate(8deg);
  }
}

@keyframes falling4 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 15px) rotate(0);
  }
  20% {
    transform: translate(0, 120px) rotate(0);
  }
  50% {
    transform: translate(0, 388px) rotate(-10deg);
  }
  60%{
    transform: translate(25px, 385px) rotate(10deg);
  }
  70%{
    transform: translate(60px, 385px) rotate(35deg);
  }
  80%{
    transform: translate(85px, 415px) rotate(50deg);
  }

  100% {
    transform: translate(80px, 421px) rotate(45deg);
  }
}

@keyframes falling5 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 5px) rotate(0);
  }
  20% {
    transform: translate(0, 70px) rotate(0);
  }
  60% {
    transform: translate(0, 332px) rotate(-2deg);
  }
  65%{
    transform: translate(-15px, 330px) rotate(-3deg);
  }

  80%{
    transform: translate(-65px, 383px) rotate(-40deg);
  }
  90%{
    transform: translate(-60px, 378px) rotate(-38deg);
  }
  100% {
    transform: translate(-60px, 383px) rotate(-38deg);
  }
}

@keyframes falling6 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 5px) rotate(0);
  }
  20% {
    transform: translate(0, 70px) rotate(0);
  }
  60% {
    transform: translate(0, 340px) rotate(15deg);
  }
  70% {
    transform: translate(-45px, 325px) rotate(2deg);
  }
  80%{
    transform: translate(-90px, 330px) rotate(-5deg);
  }
  95%{
    transform: translate(-95px, 360px) rotate(20deg);
  }
  100% {
    transform: translate(-85px, 365px) rotate(20deg);
  }
}

@keyframes falling7 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 5px) rotate(0);
  }
  20% {
    transform: translate(0, 70px) rotate(0);
  }
  80% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  90%{
    transform: translate(12px, 345px) rotate(5deg);
  }
  100% {
    transform: translate(25px, 352px) rotate(20deg);
  }
}

@keyframes falling8 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 5px) rotate(0);
  }
  20% {
    transform: translate(0, 70px) rotate(0);
  }
  55% {
    transform: translate(0, 352px) rotate(-4deg);
  }
  60% {
    transform: translate(0, 355px) rotate(0);
  }
  80%{
    transform: translate(15px, 350px) rotate(1deg);
  }
  95% {
    transform: translate(25px, 353px) rotate(0);
  }
  100% {
    transform: translate(30px, 355px) rotate(0);
  }
}

@keyframes falling9 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 5px) rotate(0);
  }
  20% {
    transform: translate(0, 70px) rotate(0);
  }
  60% {
    transform: translate(0, 350px) rotate(5deg);
  }
  80%{
    transform: translate(0, 345px) rotate(2deg);
  }
  100% {
    transform: translate(0, 350px) rotate(0);
  }
}

@keyframes falling10 {
  0% {
    transform: translate(0) rotate(0);
  }
  5% {
    transform: translate(0, 5px) rotate(0);
  }
  20% {
    transform: translate(0, 70px) rotate(0);
  }
  60% {
    transform: translate(0, 350px) rotate(-5deg);
  }
  80%{
    transform: translate(0, 335px) rotate(10deg);
  }
  100% {
    transform: translate(0, 350px) rotate(0);
  }
}

@keyframes shakeAnim {
  0% {
    transform: translate(100px, 0);
  }
  25% {
    transform: translate(50px, 10px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(50px, -10px);
  }
  100% {
    transform: translate(100px, 0);
  }
}

@keyframes lightningAnim {
  0% {
    text-shadow: 0 0 0 white;

  }
  45% {
    text-shadow: 0 0 12px white;

  }
  55% {
    text-shadow: 0 0 12px white;

  }
  100% {
    text-shadow: 0 0 0 white;

  }
}

@keyframes viewAnimPrg1 {
  0% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-75%);
  }
  40% {
    transform: translateY(-75%);
  }
  55% {
    transform: translateY(-50%);
  }
  60% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(-25%);
    text-shadow: 0 0 0 white;
  }
  95% {
    transform: translateY(0);
    text-shadow: 0 0 8px white;
  }
  100% {
    transform: translateY(0);
    text-shadow: 0 0 0 white;
  }
}