@import "../../../../source/styles/mixin.scss";
.AfterRobotSecond {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #121212;
  z-index: 6;
  overflow: hidden;
  padding: 0 10px;

  .backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500vh;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .headerBlock {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    display: flex;

    .flexGrow {
      flex-grow: 2;
    }


  }

  .bubbleImage4 {
    position: absolute;
    left: 0;
    top: -10%;
    opacity: 0.4;
    z-index: 1;
  }

  .bubbleImage5 {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 30%;
    opacity: 0.4;
  }




  .cardsCont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 200px auto 0;
    position: relative;
    z-index: 5;
    @include screen($wide){
      gap: 20px;
    }
    @include screen($tablet-l){
      margin: 100px auto 0;
      flex-direction: column;
    }
    @include screen($tablet-m){
      gap: 50px;
    }

    .cardBlock {
      position: relative;
      z-index: 6;
      @include screen($tablet-l){
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      @include screen($tablet-m){
        flex-direction: column !important;
      }
      &:nth-child(2){
        flex-direction: row-reverse;
      }

      .stand {
        transition: 2s ease-in-out all;
        opacity: 0;
      }

      .underText{
        display: flex;
        flex-direction: column;
        opacity: 0;
        transition: 1.5s ease-in-out all;
        transform: translateY(150px);
        font-size: 24px;
        color: #727272;
        line-height: normal;
        font-family: 'Trap-Regular', sans-serif;
        @include screen($tablet-l){
          margin: 0 auto;
        }
        @include screen($tablet-m){
          text-align: center;
        }
      }

    }


  }


  .activeCardBlock {

    .stand{
      opacity: 1 !important;
    }
    .underText{
      transform: translateY(0) !important;
      opacity: 1 !important;
    }
  }


}