
.word{
  display: flex;
  .letter{
    display: block;
  }
  .space{
    width: 8px;
  }
}

.rollXAnim{
  .letter{
    transform: rotateX(360deg);
  }
}

.rollYAnim{
  .letter{
    transform: rotateY(360deg);
  }
}