@import "../../source/styles/mixin.scss";


.OrderProject{
  background-color: #030303;
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;

  .headerBlock{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 50px 150px;
    max-width: 1600px;
    margin: 0 auto;
    @include screen($wide-l){
      padding: 80px 40px 100px;
    }
    @include screen($tablet-w){
      padding: 50px 20px 100px;
    }
    @include screen($mobile-l){
      padding: 30px 10px 80px;
    }

    svg{
      width: 40%;
      opacity: 0;
      transition: 1s ease-in-out all;
      transform: translateX(-100%);
      g{
        transition: 0.5s ease-in-out all;
      }
      &:hover{
        g{
          opacity: 1;
        }
        path{
          fill: #A6A6A6;
        }
      }

      path{
        cursor: pointer;
        transition: 0.3s ease-in-out all;
        &:hover{
          fill: white !important;
        }
      }


    }
    .showedSvg{
      opacity: 1 !important;
      transform: translateX(0);
    }


    .header{
      max-width: 750px;
      @include screen($wide-l){
        max-width: 650px;
      }
      @include screen($wide-s){
        max-width: 550px;
      }
      @include screen($tablet-l){
        max-width: 500px;
      }
      @include screen($tablet-w){
        max-width: 400px;
      }
      @include screen($tablet){
        max-width: 260px;
      }
      @include screen($mobile-l){
        max-width: 200px;
      }
      .headerPrg{
        font-size: 96px;
        color: white;
        font-family: 'Trap-Regular', sans-serif;
        text-transform: uppercase;
        height: 1px;
        line-height: 100%;
        overflow: hidden;
        transition: 1s ease-in-out all;
        padding: 12px 12px 0;
        @include screen($wide-l){
          font-size: 80px;
        }
        @include screen($wide-s){
          font-size: 72px;
        }
        @include screen($tablet-l){
          font-size: 64px;
        }
        @include screen($tablet-w){
          font-size: 48px;
        }
        @include screen($tablet){
          font-size: 32px;
        }
        @include screen($mobile-l){
          font-size: 24px;
        }
        &:hover{
          text-shadow: 0 0 12px white;
        }
      }
      .line{
        margin-top: 10px;
        width: 100%;
        height: 10px;
        background-color: #FF6C2C;
      }
    }
    .showedHeader{
      .headerPrg{
        height: 260px;
        animation: lightningAnim 2s linear;
        @include screen($wide-l){
          height: 225px;
        }
        @include screen($wide-s){
          height: 205px;
        }
        @include screen($tablet-l){
          height: 180px;
        }
        @include screen($tablet-w){
          height: 140px;
        }
        @include screen($tablet){
          height: 95px;
        }
        @include screen($mobile-l){
          height: 75px;
        }
      }
    }

  }

  .orderBlock{
    width: 100%;
    min-height: 200vh;
    background-color: #EFEFF1;
    padding: 150px 0 120px;
    border-radius: 50px 50px 0 0;
    @include screen($wide){
      padding: 100px 0;
    }
    @include screen($tablet-l){
      padding: 80px 0 100px;
    }

    .sectionHeader{
      width: max-content;
      height: max-content;
      margin-bottom: 60px;
      font-size: 50px;
      font-family: 'Trap-SemiBold', sans-serif;
      text-transform: uppercase;
      color: #FF6C2C;
      @include screen($tablet-l){
        margin-bottom: 50px;
      }
      @include screen($tablet){
        margin-bottom: 40px;
      }
      .activeWord2{
        span{
          color: #1D1D1D !important;
        }
      }
    }

    .servicesCont{
      width: 100%;
      max-width: 1600px;
      margin: 0 auto 120px;
      padding: 0 50px;
      @include screen($tablet-l){
        margin: 0 auto 80px;
      }
      @include screen($tablet-w){
        padding: 0 30px;
      }
      @include screen($tablet){
        padding: 0 20px;
        margin: 0 auto 60px;
      }
      @include screen($tablet-m){
        padding: 0 10px;
      }

      .sectionHeader{
        @include screen($tablet-w){
          font-size: 32px;
        }
        @include screen($tablet-m){
          font-size: 26px;
        }
        @include screen($mobile-l){
          font-size: 20px;
        }
        @include screen($mobile-m){
          font-size: 18px;
        }
      }

      .services{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 60px 0;
        @include screen($wide-l){
          gap: 40px 0;
        }
        @include screen($tablet){
          gap: 30px 0;
        }
        @include screen($mobile-l){
          gap: 20px 0;
        }
        .serviceBtn{
          width: 23%;
          padding: 30px;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          font-family: 'Trap-SemiBold', sans-serif;
          line-height: 100%;
          text-transform: uppercase;
          color: #1D1D1D;
          background-color: transparent;
          border: 3px solid #1D1D1D;
          cursor: pointer;
          transition: 0.3s ease-in-out all;
          @include screen($wide-l){
            width: 24%;
          }
          @include screen($wide){
            width: 32%;
          }
          @include screen($tablet-l){
            width: 45%;
          }
          @include screen($tablet-w){
            width: 48%;
          }
          @include screen($tablet){
            font-size: 20px;
            padding: 20px;
            width: 49%;
          }
          @include screen($tablet-m){
            font-size: 18px;
          }
          @include screen($mobile-l){
            width: 100%;
            font-size: 16px;
            padding: 15px;
            border: 2px solid #1D1D1D;

          }
          &:hover{
            box-shadow: 0 0 5px 0.5px #1D1D1D;
          }
        }
        .activeServiceBtn{
          background-color: #1D1D1D !important;
          color: #FF6C2C !important;
        }

      }
    }

    .briefCont{
      width: 100%;
      max-width: 1600px;
      margin: 0 auto 120px;
      padding: 0 50px;
      @include screen($tablet-l){
        margin: 0 auto 80px;
      }
      @include screen($tablet-w){
        padding: 0 30px;
      }
      @include screen($tablet){
        padding: 0 20px;
        margin: 0 auto 60px;
      }
      @include screen($tablet-m){
        padding: 0 10px;
      }
      .sectionHeaderBlock{
        display: flex;
        align-items: end;
        margin-bottom: 60px;
        flex-wrap: wrap;
        gap: 20px 0;
        .sectionHeader{
          margin: 0 40px 0 0;
          @include screen($tablet){
            font-size: 40px;
          }
          @include screen($mobile-l){
            font-size: 32px;
          }
          @include screen($mobile-m){
            font-size: 28px;
          }
        }

        .fileInput{
          display: flex;
          align-items: end;
          cursor: pointer;
          margin-right: 40px;
          img{
            @include screen($tablet){
              width: 30px;
            }
          }
          input{
            display: none;
          }
          span{
            margin-left: 12px;
            color: #A6A6A6;
            font-size: 14px;
            font-family: 'Trap-SemiBold', sans-serif;
            line-height: normal;
            text-transform: uppercase;
          }
        }

        .selectedFiles{
          display: flex;
          justify-content: end;
          align-items: center;
          flex-wrap: wrap;
          flex-grow: 1;
          gap: 15px;
          .fileBlock{
            display: flex;
            align-items: center;
            padding: 8px 12px;
            border-radius: 32px;
            border: 2px solid #1D1D1D;
            gap: 8px;
            font-family: 'Trap-SemiBold', sans-serif;
            font-size: 14px;
            color: #1D1D1D;
            transition: 0.5s ease-in-out all;
            button{
              cursor: pointer;
              border: none;
              background-color: transparent;
              height: 12px;
              svg{
                width: 12px;
              }
            }
          }
        }


      }
      .briefTextArea{
        width: 100%;
        resize: none;
        height: 220px;
        border-radius: 20px;
        border: 3px solid #1D1D1D;
        box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25) inset;
        padding: 30px;
        font-size: 20px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #1D1D1D;
        line-height: normal;
        background-color: transparent;
        &::placeholder{
          color: #D8D8D8 !important;
        }
      }
    }

    .infoCont{
      display: flex;
      width: 100%;
      max-width: 1600px;
      margin: 0 auto 120px;
      padding: 0 50px;
      @include screen($tablet-l){
        margin: 0 auto 80px;
      }
      @include screen($tablet-w){
        padding: 0 30px;
      }
      @include screen($tablet){
        padding: 0 20px;
        margin: 0 auto 60px;
        flex-direction: column;
        gap: 30px 0;
      }
      @include screen($tablet-m){
        padding: 0 10px;
      }
      .infoBlock{
        width: 50%;
        @include screen($tablet){
          width: 100%;
        }

        .sectionHeader{
          margin: 0;
          @include screen($wide){
            font-size: 40px;
          }
          @include screen($tablet-l){
            font-size: 28px;
          }
        }


        .infoInput{
          margin-top: 60px;
          width: 98%;
          max-width: 500px;
          padding: 34px 60px 32px;
          border-radius: 80px;
          border: 3px solid #1D1D1D;
          background-color: transparent;
          outline: none;
          font-family: 'Trap-SemiBold', sans-serif;
          font-size: 32px;
          line-height: normal;
          @include screen($wide){
            font-size: 26px;
            max-width: 400px;
            padding: 26px 40px 24px;
          }
          @include screen($tablet-l){
            font-size: 20px;
            padding: 20px 30px 18px;
            margin-top: 40px;
          }
          @include screen($tablet){
            margin-top: 20px;
          }
          &::placeholder{
            color: #D8D8D8 !important;
          }
        }

      }
    }

    .budgetCont{
      width: 100%;
      max-width: 1600px;
      margin: 0 auto 120px;
      padding: 0 50px;
      @include screen($tablet-l){
        margin: 0 auto 80px;
        flex-direction: column;
      }
      @include screen($tablet-w){
        padding: 0 30px;
      }
      @include screen($tablet){
        padding: 0 20px;
        margin: 0 auto 60px;
        gap: 30px 0;
      }
      @include screen($tablet-m){
        padding: 0 10px;
      }

      .budgetBlock{
        background-color: #060608;
        width: 100%;
        overflow: hidden;
        border-radius: 32px;
        height: 416px;
        position: relative;
        padding-top: 60px;
        @include screen($tablet){
          display: none;
        }

        .background{
          position: absolute;
          height: 416px;
          left: 0;
          top: 0;
          width: 100%;
          z-index: 1;
          transform: translateX(-50%);
          background: linear-gradient(to bottom right, #FF6C2C 0%, #060608 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #FF6C2C 0%, #060608 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #FF6C2C 0%, #060608 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #FF6C2C 0%, #060608 50%) top right / 50% 50% no-repeat;
        }

        .sectionHeader{
          color: #FF6C2C !important;
          position: relative;
          z-index: 15;
          margin: 0 auto 95px;
          @include screen($tablet-l){
            font-size: 40px;
          }

          .activeWord2{
            span{
              color: white !important;
            }
          }
        }

        .line{
          background: #EFEFF1;
          height: 6px;
          width: 100%;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.79) inset;
          position: relative;
          z-index: 2;

          .rangeBlock{
            width: 80%;
            height: 100%;
            margin: 0 auto;
            position: relative;
          }

          .rangeBall{
            width: 52px;
            height: 52px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 6;
            transform: translate(-50%, 50%);
            pointer-events: none;

            img{
              width: 100%;
              scale: 2.6;
            }

          }

          .rangeValues{
            width: 80%;
            position: absolute;
            z-index: 6;
            left: 10%;
            top: 50px;
            display: flex;
            justify-content: space-between;
            button{
              font-size: 24px;
              font-family: 'Trap-SemiBold',sans-serif;
              color: #EFEFF1;
              line-height: normal;
              text-transform: uppercase;
              background-color: transparent;
              border: none;
              cursor: pointer;
              position: relative;
              @include screen($wide){
                font-size: 20px;
              }
              @include screen($tablet-w){
                font-size: 16px;
              }
              span{
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                white-space: nowrap;
                transform: translateX(-50%);
              }
            }
          }

          .rangeInput{
            position: absolute;
            z-index: 15;
            left: 0;
            top: 50%;
            transform: translate(0, -30%);
            width: 100%;
            cursor: pointer;
            opacity: 0;
          }
          input[type=range] {
            height: 100px;
          }
          input[type=range]::-webkit-slider-runnable-track {
            background: #ddd;
            height: 100px;
          }
          input[type=range]::-moz-range-track {
            background: #ddd;
            height: 100px;
          }
          input[type=range]::-ms-track {
            background: #ddd;
            height: 100px;
          }

          input[type=range]::-webkit-slider-thumb {
            background: #333; /* Цвет фона шарика */
            border: 2px solid #ddd; /* Толщина и цвет границы шарика */
            width: 20px; /* Ширина шарика */
            height: 20px; /* Высота шарика */
            border-radius: 50%; /* Сделать шарик круглым */
            scale: 4;
          }

          input[type=range]::-moz-range-thumb {
            background: #333; /* Цвет фона шарика */
            border: 2px solid #ddd; /* Толщина и цвет границы шарика */
            width: 20px; /* Ширина шарика */
            height: 20px; /* Высота шарика */
            border-radius: 50%; /* Сделать шарик круглым */
            scale: 4;

          }

          input[type=range]::-ms-thumb {
            background: #333; /* Цвет фона шарика */
            border: 2px solid #ddd; /* Толщина и цвет границы шарика */
            width: 20px; /* Ширина шарика */
            height: 20px; /* Высота шарика */
            border-radius: 50%; /* Сделать шарик круглым */
            scale: 4;

          }



        }



      }
      .budgetMobileBlock{
        display: none;
        width: 100%;
        border-radius: 20px;
        padding: 40px 25px;
        transition: 0.5s ease-in-out all !important;
        @include screen($tablet){
          display: block;
        }

        .sectionHeader{
          font-size: 32px;
          @include screen($mobile-l){
            font-size: 24px;
          }
          @include screen($mobile-m){
            font-size: 20px;
          }
          span{
            color: white !important;
          }
        }

        .labelsBlock{
          display: flex;
          align-items: start;
          gap: 60px;
          justify-content: center;

          @include screen($mobile-l){
            gap: 40px;
          }
          .line{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .labelBtn{
              display: flex;
              align-items: center;
              gap: 15px;
              background-color: transparent;
              border: none;
              cursor: pointer;
              .radio{
                height: 14px;
                width: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #D9D9D9;
                .radioBall{
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background-color: #D9D9D9;
                  stroke-width: 1px;
                  stroke: #000;
                  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }
              }
              .labelText{
                font-size: 12px;
                font-family: 'Trap-SemiBold', sans-serif;
                color: white;
                text-transform: uppercase;
                line-height: normal;
              }
              .budgetInput{
                width: 75px;
                padding: 4px 8px 2px;
                border-radius: 32px;
                border: 1px solid #BEBEBE;
                background-color: white;
                outline: none;
                font-size: 10px;
                font-family: 'Trap-Light', sans-serif;
                line-height: normal;
              }
            }
            .activeLabelBtn{
              .radio{

                .radioBall{
                  background-color: #1D1D1D;
                }
              }
            }
          }
        }




      }

      .active1{
        background: linear-gradient(316deg, #060608 64.17%, #FF6C2C 78.12%);
      }
      .active2{
        background: linear-gradient(319deg, #060608 46.71%, #FF6C2C 77.03%);
      }
      .active3{
        background: linear-gradient(319deg, #060608 46.71%, #FF6C2C 77.03%);
      }
      .active4{
        background: linear-gradient(26deg, #060608 47.02%, #FF6C2C 86.27%);
      }
      .active5{
        background: linear-gradient(33deg, #060608 32.03%, #FF6C2C 83.75%);
      }
      .active6{
        background: linear-gradient(62deg, #060608 25.93%, #FF6C2C 90.78%);
      }


    }

    .deadLineCont{
      width: 100%;
      max-width: 1600px;
      margin: 0 auto 120px;
      padding: 0 50px;
      @include screen($tablet-l){
        margin: 0 auto 80px;
      }
      @include screen($tablet-w){
        padding: 0 30px;
      }
      @include screen($tablet){
        padding: 0 20px;
        margin: 0 auto 60px;
        flex-direction: column;
        gap: 30px 0;
      }
      @include screen($tablet-m){
        padding: 0 10px;
      }

      .sectionHeader{
        @include screen($tablet-w){
          font-size: 40px;
        }
        @include screen($tablet-m){
          font-size: 30px;
        }
        @include screen($mobile-l){
          font-size: 24px;
        }
        @include screen($mobile-m){
          font-size: 20px;
        }
      }

      .buttonsBlock{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include screen($tablet){
          flex-wrap: wrap;
          gap: 20px;
        }

        .deadLineBtn{
          width: 33%;
          padding: 24px 30px;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          font-family: 'Trap-SemiBold', sans-serif;
          line-height: 100%;
          text-transform: uppercase;
          color: #1D1D1D;
          background-color: transparent;
          border: 3px solid #1D1D1D;
          cursor: pointer;
          transition: 0.3s ease-in-out all;
          @include screen($tablet-l){
            font-size: 20px;
            padding: 20px;
          }
          @include screen($tablet-w){
            font-size: 16px;
          }
          @include screen($tablet){
            width: 100%;
          }
          &:hover{
            box-shadow: 0 0 10px 0.5px #1D1D1D;
          }
        }
        .activeBtn{
          background-color: #1D1D1D !important;
          color: #FF6C2C !important;
        }
      }
    }

    .endInfoCont{
      width: 100%;
      max-width: 1600px;
      margin: 0 auto 120px;
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include screen($tablet-l){
        margin: 0 auto 80px;
        flex-direction: column;
      }
      @include screen($tablet-w){
        padding: 0 30px;
      }
      @include screen($tablet){
        padding: 0 20px;
        margin: 0 auto 60px;
        gap: 30px 0;
      }
      @include screen($tablet-m){
        padding: 0 10px;
      }

      .inputsBlock{
        width: 45%;
        @include screen($wide){
          width: 40%;
        }
        @include screen($tablet-l){
          width: 100%;
          display: flex;
          gap: 30px;
          margin-bottom: 40px;
        }
        @include screen($tablet){
          flex-direction: column;
        }

        .sectionHeader{
          @include screen($wide-l){
            font-size: 40px;
          }
          @include screen($wide){
            font-size: 32px;
            margin-bottom: 30px;
          }
          @include screen($tablet-w){
            font-size: 26px;
          }
        }

        .firstInputBlock{
            margin-bottom: 120px;
          @include screen($tablet-l){
            margin-bottom: 0;
          }
        }

        .textInput{
          width: 100%;
          max-width: 500px;
          border: 3px solid  #1D1D1D;
          background-color: transparent;
          border-radius: 80px;
          outline: none;
          padding: 34px 60px 30px;
          font-size: 32px;
          font-family: 'Trap-SemiBold', sans-serif;
          line-height: normal;
          color: #1D1D1D;
          @include screen($wide-l){
            font-size: 26px;
            padding: 26px 40px 24px;
          }
          @include screen($wide){
            max-width: 400px;
            padding: 22px 40px 20px;
          }
          @include screen($tablet-w){
            font-size: 20px;
            padding: 16px 20px 14px;
            border: 2px solid  #1D1D1D;
          }
          &::placeholder{
            color: #D8D8D8;
          }

        }

      }

      .aboutUsBlock{
        width: 50%;
        border-radius: 20px;
        box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25) inset;
        background-color: #D8D8D8;
        padding: 60px;
        @include screen($wide-l){
          padding: 50px 30px;
        }
        @include screen($wide){
          width: 55%;
        }
        @include screen($tablet-l){
          width: 100%;
        }
        .sectionHeader{
          margin: 0;
          @include screen($wide-l){
            font-size: 40px;
          }
          @include screen($tablet-l){
            font-size: 32px;
          }
          @include screen($tablet){
            font-size: 28px;
          }
        }

        .buttonsBlock{
          margin-top: 50px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 40px 2%;
          width: 100%;
          @include screen($tablet){
            gap: 20px 2%;
          }

          .aboutUsBtn{
            width: 49%;
            padding: 30px 0;
            border-radius: 80px;
            border: 3px solid #1D1D1D;
            outline: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-family: 'Trap-SemiBold', sans-serif;
            color: white;
            text-transform: uppercase;
            line-height: normal;
            background-color: transparent;
            transition: 0.2s ease-in-out all;
            @include screen($wide-l){
              font-size: 16px;
            }
            @include screen($tablet-l){
              padding: 25px 0;
            }
            @include screen($tablet){
              padding: 20px 0;
              width: 100%;
            }
            &:hover{
              box-shadow: 0 0 10px 1px #1D1D1D;
            }
          }

          .activeBtn{
            color: #1D1D1D;
          }


        }



      }


    }


    .buttonCont{
      width: 100%;
      max-width: 1600px;
      margin: 0 auto 120px;
      padding: 0 50px;
      @include screen($tablet-l){
        margin: 0 auto 80px;
        flex-direction: column;
      }
      @include screen($tablet-w){
        padding: 0 30px;
      }
      @include screen($tablet){
        padding: 0 20px;
        margin: 0 auto 60px;
        gap: 30px 0;
      }
      @include screen($tablet-m){
        padding: 0 10px;
      }

      .submitBtn{
        width: 100%;
        text-align: center;
        box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.25) inset;
        background: #1D1D1D;
        font-size: 36px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #EFEFF1;
        text-transform: uppercase;
        border-radius: 50px;
        padding: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s ease-in-out all;
        @include screen($tablet){
          font-size: 28px;
        }
        &:hover{
          filter: brightness(1.1);
        }
      }
    }


  }


}

@keyframes lightningAnim {
  0%{
    text-shadow: 0 0 0 white;
  }
  40%{
    text-shadow: 0 0 0 white;
  }
  70%{
    text-shadow: 0 0 12px white;
  }
  100%{
    text-shadow: 0 0 0 white;
  }
}