@import "../../source/styles/mixin.scss";

.MainCont {
  position: relative;

  .NavBlock {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
  }


}

.topCont {
  position: relative !important;
  z-index: 1 !important;
  padding: 0 10px;
}

.secondContent {
  position: relative !important;
  z-index: 150 !important;
  background-color: #141414;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  height: 100vh;
  min-height: 100vh;
  @include screen($tablet-w){
    max-height: unset;
    height: max-content;
  }

  .secondRef{
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    @include screen($tablet-w){
      display: none;
    }
  }


}

.thirdCont {
  width: 100%;
  overflow: hidden;
  @include screen($tablet-w){
    height: max-content !important;
  }

  .height{
    height: 100px;
    @include screen($tablet-w){
      height: 100px;
    }
  }
}

.forthCont{
  width: 100%;
  overflow: hidden;
  height: max-content;
  position: relative;
  min-height: 100vh;
}


.menuCont {
  height: 44px;
  position: relative;
  width: 210px;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s ease-in-out all;

  .menuBlock {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 64px;
    height: 44px;
    padding: 1px;
    border: 0.5px solid transparent;
    border-radius: 15px;
    transition: 0.5s ease-in-out all;

    &:hover {
      border: 0.5px solid #FF6C2C;

    }

    .menuBtn {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      padding: 10px;
      background-color: transparent;
      cursor: pointer;
      transition: 0.5s ease-in-out all;
      border: none;

      &:hover {
        scale: 1.02;
        filter: brightness(1.2);

        .line {
          &:nth-child(1) {
            transform: translateY(-2px);
          }

          &:nth-child(2) {
            transform: translateY(2px);
          }
        }
      }

      .line {
        width: 40px;
        height: 5px;
        background-color: #FF6C2C;
        border-radius: 5px;
        margin: 4px 0;
        transition: 0.3s ease-in-out;
      }

    }

    .menu {
      position: absolute;
      right: 0;
      top: 0;
      width: 210px;
      height: 290px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      padding: 20px;


      .menuLink {
        font-size: 18px;
        font-family: 'Trap-Light', sans-serif;
        color: white;
        line-height: 100%;
        text-align: center;
        text-decoration: none;
        position: relative;
        width: 135px;
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        margin-bottom: 4px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 1px;
          background-color: #8B8B8B;
          transition: 0.5s ease-in-out;
        }

        &:hover {
          transition: 0.2s ease-in-out all;
          text-shadow: 0 0 5px white;

          &:before {
            width: 100%;
          }
          .arrowBlock{
            img{
              transform: translateX(-100%) rotateX(360deg);
            }
          }
        }

        .word {
          width: max-content;
        }

        .arrowBlock{
          position: relative;
          width: max-content;
          overflow: hidden;
          img{
            padding: 0 3px;
            transition: 0.5s ease-in-out all;
            &:nth-child(1){
              position: absolute;
              left: 100%;
              top: 6px;

            }
          }
        }
      }

      .socialMenuLinks {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 10px 0;
        max-width: 135px;

        .socialMenuLink {
          width: 26px;
          height: 26px;
          border: 0.5px solid #D9D9D9;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s ease-in-out;

          img {
            transition: 0.5s ease-in-out;
            animation: rotation 5s linear infinite;
            height: 50%;

          }

          &:hover {
            border-radius: 10px;
            box-shadow: 0 0 5px 1px white;

            img {
              transform: rotate(0) !important;
              animation: unset !important;
              scale: 1.1;
            }
          }
        }

        //.socialMenuLink{
        //  &:nth-child(1){
        //    img{
        //      animation: socialLogoAnim1 4s linear infinite;
        //    }
        //  }
        //  &:nth-child(2){
        //    img{
        //      animation: socialLogoAnim3 4s linear infinite;
        //
        //    }
        //  }
        //  &:nth-child(3){
        //    img{
        //      animation: socialLogoAnim4 4s linear infinite;
        //
        //    }
        //  }
        //  &:nth-child(4){
        //    img{
        //      animation: socialLogoAnim2 4s linear infinite;
        //
        //    }
        //  }
        //}


      }

      .termsCont{
        display: flex;
        width: 135px;
        justify-content: space-between;

        .termsLink{
          width: max-content;
          display: flex;
          align-items: center;
          font-size: 10px;
          font-family: 'Trap-Light', sans-serif;
          line-height: normal;
          color: #767676;
          text-decoration: none;

          &:hover{
            img{
              transform: translateX(-100%) rotateX(360deg);
            }
          }
          .arrowBlock{
            position: relative;
            width: max-content;
            overflow: hidden;
          }
          img{
            padding: 0 3px;
            transition: 0.5s ease-in-out all;
            &:nth-child(1){
              position: absolute;
              left: 100%;
              top: 4px;
            }
          }
        }
      }

      svg {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

  }

  .activeMenuBlock {
    width: 210px;
    height: 290px;
    border-radius: 0;
    border: 0.5px solid #FF6C2C;
    background: #111;

    .menuBtn {
      transform: translateY(10px);

      .line {
        background-color: white;
        width: 40px;
        margin: 0;
        height: 6px;
        border-radius: 3px 5px 3px 5px;

        &:nth-child(1) {
          transform: translate(0px, 5px) rotate(40deg) !important;
        }

        &:nth-child(2) {
          rotate: -40deg !important;

        }

      }

      &:hover {
        .line {
          &:nth-child(1) {
            transform: translate(0px, 7.5px) rotate(30deg) !important;
          }

          &:nth-child(2) {
            rotate: -30deg !important;

          }
        }
      }
    }

    .menu {

    }

  }

}



.comeFromDown2 {
  transform: translateY(0) !important;
  opacity: 1 !important;
}
.menuBtnAway {
  opacity: 0 !important;
  transform: translateY(-200%) !important;
}
.menuContBottom {
  position: fixed;
  z-index: 210;
  transform: translate(200px, 200px);
  opacity: 0;
  right: 50px;
  bottom: 50px;

  .menuBlock{
    top: unset !important;
    bottom: 0 !important;
    .menuBtn{
      top: unset !important;
      bottom: 0 !important;
    }
    .menu{
      top: unset !important;
      bottom: 0 !important;
      justify-content: start !important;
    }
  }

  .activeMenuBlock{
    .menuBtn{
      transform: translateY(-20px) !important;
    }
  }



}

.showed {
  transform: translate(0, 0);
  opacity: 1;

}


@keyframes rotation {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}