@import "../../source/styles/mixin.scss";

.MainCont{
  position: relative;

  .NavBlock{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
  }



}

.topCont{
  position: relative;
  z-index: 1;
  padding: 0 10px;
  overflow: hidden;
}

.secondContent{
  position: relative;
  z-index: 150;
  background-color: #131312;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 10px;

}

.thirdCont{
  width: 100%;
  overflow: hidden;
}