
.ThirdHeader {
  width: 100%;
  z-index: 200;
  position: relative;
  background-color: white;

  .background {
    width: 100%;
  }

  svg {
    width: 98%;
    margin: 0 1%;
    transform: translateY(-80px);
    height: 800px;
    top: 0;
    position: absolute;
    padding-bottom: 350px;
    left: 0;

    path {
      transition: 1.5s ease-in-out all;
      opacity: 1;
    }
  }

  .activeSVG {
    path {
      opacity: 0;
      display: block !important;

      &:nth-child(1) {
        transform: translate(-200px, 40px) rotate(20deg);
      }

      &:nth-child(2) {
        transform: translate(-430px, 50px) rotate(30deg);
      }

      &:nth-child(3) {
        transform: translate(-550px, 160px) rotate(10deg);
      }

      &:nth-child(4) {
        transform: translate(-340px, 260px) rotate(40deg);
      }

      &:nth-child(5) {
        transform: translate(-750px, 140px) rotate(20deg);
      }

      &:nth-child(6) {
        transform: translate(-1170px, 250px) rotate(30deg);
      }

      &:nth-child(7) {
        transform: translate(-890px, 10px) rotate(10deg);
      }

      &:nth-child(8) {
        transform: translate(-1000px, 5px) rotate(40deg);
      }

      &:nth-child(9) {
        transform: translate(-1200px, 140px) rotate(20deg);
      }

      &:nth-child(10) {
        transform: translate(-1300px, 240px) rotate(30deg);
      }

      &:nth-child(11) {
        transform: translate(1200px, 270px) rotate(10deg);
      }

      &:nth-child(12) {
        transform: translate(1200px, 190px) rotate(40deg);
      }

      &:nth-child(13) {
        transform: translate(750px, 120px) rotate(20deg);
      }

      &:nth-child(14) {
        transform: translate(600px, 250px) rotate(40deg);
      }

      &:nth-child(15) {
        transform: translate(570px, 110px) rotate(10deg);
      }

      &:nth-child(16) {
        transform: translate(450px, 240px) rotate(40deg);
      }

      &:nth-child(17) {
        transform: translate(300px, 40px) rotate(20deg);
      }

    }
  }

  .headerBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 50px;
    margin-top: 100px;

    .prgBlock {
      max-width: 170px;
      font-size: 16px;
      color: #6e6e6e;
      font-family: 'Trap-SemiBold', sans-serif;
      text-transform: uppercase;
      line-height: 130%;
      flex-grow: 4;
      min-width: 170px;
      margin-right: 30px;
      transform: translateX(100px);
      opacity: 0;
      transition: 1s ease-in-out all;
    }

    .comeFromRight3 {
      transform: translateX(0);
      opacity: 1;
    }

    .headerInsideBlock{
      display: flex;
      justify-content: end;
      max-width: 1270px;
      margin: 0 auto;
      width: 100%;
    }

    .header {
      max-width: max-content;
      flex-grow: 4;
      display: flex;
      flex-direction: column;
      align-items: end;

      .underLinedText {
        margin-bottom: 40px;

        p {
          color: black !important;
        }
      }

      .seeMoreBtn {
        font-size: 20px;
        text-transform: uppercase;
        color: black;
        font-family: 'Trap-Medium', sans-serif;
        line-height: 130%;
        padding: 3px 5px;
        background-color: transparent;
        border: none;
        position: relative;
        width: max-content;
        cursor: pointer;
        transform: translateY(200%);
        opacity: 0;
        transition: 0.6s ease-in-out all;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 5px;
          width: 0;
          height: 2px;
          background-color: black;
          transition: 0.5s ease-in-out all;
        }

        &:hover {
          filter: brightness(1.2);

          &:before {
            width: 100%;
          }
        }
      }

      .activeBtn {
        opacity: 1;
        transform: translateY(0);
      }

    }

    //.flexGrowHere {
    //  flex-grow: 3;
    //  width: max-content;
    //}



  }


}