

.ThirdHeader{
  width: 100%;
  z-index: 200;
  position: relative;
  background-color: white;
  .background{
    width: 100%;
  }

  .headerBlock{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 50px;

    .prgBlock{
      max-width: 170px;
      font-size: 16px;
      color: #6e6e6e;
      font-family: 'Trap-SemiBold', sans-serif;
      text-transform: uppercase;
      line-height: 130%;
      flex-grow: 4;
      min-width: 170px;
      margin-right: 30px;
    }
    .header{
      max-width: max-content;
      flex-grow:4;
      display: flex;
      flex-direction: column;
      align-items: end;
      .underLinedText{
        margin-bottom: 40px;
        p{
          color: black !important;
        }
      }

      .seeMoreBtn{
        font-size: 20px;
        text-transform: uppercase;
        color: black;
        font-family: 'Trap-Medium', sans-serif;
        line-height: 130%;
        padding: 3px 5px;
        background-color: transparent;
        border: none;
        position: relative;
        width: max-content;
        cursor: pointer;
        &:before{
          content: '';
          position: absolute;
          left: 0;
          bottom: 5px;
          width: 0;
          height: 2px;
          background-color: black;
          transition: 0.5s ease-in-out all;
        }
        &:hover{
          filter: brightness(1.2);
          &:before{
            width: 100%;
          }
        }
      }

    }

    .flexGrowHere{
      flex-grow: 2;
    }



    .flexBlock{
      flex-grow: 1;

    }
  }



}