@import "../../../source/styles/mixin.scss";

.NinthBlock{
  margin: 160px auto 0;
  max-width: 1720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include screen($wide-l){
    margin: 120px auto 0;
  }
  @include screen($wide){
    margin: 80px auto 0;
  }
  @include screen($tablet){
    margin: 60px auto 0;
  }
  @include screen($tablet-m){
    margin: 40px auto 0;
  }
  .headerCont{
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .headerBlock{
    max-width: 800px !important;
    background-position: left !important;
    @include screen($wide-l){
      max-width: 650px !important;
    }
    @include screen($wide){
      max-width: 500px !important;
    }
    @include screen($tablet){
      max-width: 400px !important;
    }
    @include screen($tablet-m){
      max-width: 320px !important;
    }
  }


  .text1{
    max-width: 1150px;
    margin: 0 auto;
    transition: 1s ease-in-out all;
    opacity: 0;
    transform: translateY(50px);
  }

  .text2{
    transition: 1.3s ease-in-out all;
    margin: 70px 0 70px 10%;
    opacity: 0;
    transform: translateY(50px);
    @include screen($wide-l){
      margin: 60px 0 60px 10%;
    }
    @include screen($tablet-l){
      margin: 45px 0 45px 10%;
    }
    @include screen($tablet){
      margin: 30px 0 30px 10%;
    }
  }

  .text3{
    transition: 1.6s ease-in-out all;
    margin-right: 10%;
    opacity: 0;
    transform: translateY(50px);
    max-width: 1150px;
  }


}