@import "../../source/styles/mixin.scss";
.scene{
  position: relative;
  width: 100% !important;
  z-index: 5;
  overflow: hidden;
  height: 100%;
  canvas{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    opacity: 0.95;
    width: 1920px;
    max-width: 100% !important;
    height: 100vh;
    @include screen($tablet-l){
      scale: 0.8;
    }
    @include screen($tablet){
      scale: 0.7;
    }
    @include screen($tablet-m){
      scale: 0.6;
    }
    @include screen($mobile-l){
      scale: 0.5;
    }
  }
}