
.navLink{
  font-size: 18px;
  width: 250px;
  font-family: 'Eczar-Medium', sans-serif;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
  border-radius: 12px;
  padding: 12px 24px;
  background-color: transparent;
  border: none;
  margin-bottom: 8px;
  &:hover{
    background-color: rgba(225, 225, 225, 0.5);
    .linkIcon{
      scale: 1.05;
    }
  }

  .spanBlock{
    position: relative;
    span{
      white-space: nowrap;
      left: 12px;
      opacity: 1;
      top: 50%;
      transform: translateY(-40%);
      position: absolute;
      line-height: 100%;
      display: block;
      transition: 0.2s ease-in-out all;
    }

  }



  .imgBlock{
    position: relative;
    height: 28px;

    .linkDefaultIcon{
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
    }
    .linkActiveIcon{
      opacity: 0;
    }

    .linkIcon{
      width: 28px;
      height: 28px;
      transition: 0.2s ease-in-out all;
    }
  }


}

.activeLink{
  font-family: 'Eczar-SemiBold', sans-serif;
  .linkDefaultIcon{
    opacity: 0 !important;
  }
  .linkActiveIcon{
    opacity: 1 !important;
  }
}

.flexGrow{
  flex-grow: 1;
}


.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}