@import "../../../source/styles/mixin.scss";
.NavBlock {
  padding: 60px 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 190;
  width: 100%;
  background-color: transparent;
  @include screen($tablet-w){
    padding: 40px 20px 0;
  }

  .content{
    position: absolute;
  }

  .linkToHome {
    font-size: 20px;
    font-family: 'Trap-Black', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: normal;
    color: white;
    text-decoration: none;
    position: relative;
    padding: 4px;
    transition: 0.6s ease-in-out all;
    transform: translateY(-100%);
    opacity: 0;
    @include screen($tablet-m){
      position: absolute;
      left: 20px;
      top: 50px;
    }



    &:before {
      content: "";
      position: absolute;
      background-color: white;
      height: 2px;
      width: 0%;
      left: 0;
      bottom: 4px;
      transition: 0.6s ease-in-out all;
      opacity: 0;
      box-shadow: 0 0 5px 0.5px white;
    }

    &:hover {
      text-shadow: 0 0 5px white;

      &:before {
        width: 100%;
        opacity: 1;
      }
    }
  }

  .comeFromUp2{
    transform: translateY(0) !important;
    opacity: 1 !important;
  }

  .buttonsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    z-index: 200;
    @include screen($tablet-w){
      gap: 20px;
    }





    .contactBtn{
      padding: 14px 28px;
      background-color: transparent;
      cursor: pointer;
      transition: 0.6s ease-in-out all;
      border: 0.5px solid #FF6C2C;
      border-radius: 50px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-size: 20px;
      font-family: 'Trap-SemiBold', sans-serif;
      color: #FF6C2C;
      text-transform: uppercase;
      line-height: 0.4;
      transform: translateX(100%);
      opacity: 0;
      @include screen($tablet-w){
        display: none;
      }

      svg{
        transform: rotateX(0deg);
        transition: 0.5s ease-in-out all;
      }

      &:hover{
        filter: brightness(1.2);
        gap: 28px;
        padding: 14px 20px;

        svg{
          transform: rotateX(360deg);
        }

      }



      span{
        transition: 0.3s ease-in-out all;
        transform: translateY(2px);

      }

    }

    .comeFromRight2{
      transform: translateX(0) !important;
      opacity: 1 !important;
    }


  }

}


@keyframes socialLogoAnim1 {
  0%{
    transform: rotateY(0);
  }
  10%{
    transform: rotateY(360deg);
  }

  100%{
    transform: rotateY(360deg);
  }
}

@keyframes socialLogoAnim2 {
  0%{
    transform: rotateY(0);
  }

  25%{
    transform: rotateY(0);
  }
  35%{
    transform: rotateY(360deg);
  }

  100%{
    transform: rotateY(360deg);
  }
}

@keyframes socialLogoAnim3 {
  0%{
    transform: rotateY(0);
  }
  50%{
    transform: rotateY(0);
  }
  60%{
    transform: rotateY(360deg);
  }

  100%{
    transform: rotateY(360deg);
  }
}

@keyframes socialLogoAnim4 {
  0%{
    transform: rotateY(0);
  }
  75%{
    transform: rotateY(0);
  }
  85%{
    transform: rotateY(360deg);
  }

  100%{
    transform: rotateY(360deg);
  }
}

