@import "../../../../source/styles/mixin.scss";

.AfterRobotThird{
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 6;
  background-color: #121212;
  overflow: hidden;
  padding: 100px 0 0;

  .backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500vh;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .headerBlock{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    position: relative;
    z-index: 7;
    justify-content: space-between;
    padding-top: 30px;
    height: 150px;

    @include screen($tablet){
      justify-content: center;
      .flexGrow{
        display: none;
      }
    }


    .strokeText{
      position: absolute;
      top: 0;
      transform: translate(25%, 0);
      right: 20%;
      z-index: 20;
      font-size: 96px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(255, 255, 255, 0.50);
      color: rgba(0, 0, 0, 0.00);
      text-transform: uppercase;
      font-family: 'Trap-Regular', sans-serif;
      @include screen($wide){
        font-size: 80px;
      }
      @include screen($tablet-l){
        font-size: 64px;
        top: 10%;
      }
      @include screen($tablet){
        left: 50%;
        right: unset;
        transform: translateX(-50%);
        font-size: 40px;
      }
    }
  }

  .mone1{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1200px;
    @include screen($desktop){
      height: 800px;
      top: unset;
      bottom: 0;
    }
    @include screen($tablet){
      height: 600px;
    }
  }

  .mone2{
    position: absolute;
    left: -20px;
    top: 0;
    rotate: -10deg;
  }

  .mainBlock{
    height: 1000px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    @include screen($wide-l){
      height: 900px;
    }
    @include screen($tablet){
      align-items: start;
      margin-top: 50px;
    }
    @include screen($tablet){
      height: 800px;
    }
    @include screen($mobile-l){
      height: 700px;
    }

    .skillsBlock{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(50px, -50%) !important;
      @include screen($wide-l){
        top: 10%;
      }
      @include screen($tablet){
        top: unset;
        bottom: 0;
      }

      .skillPrg{
        font-size: 16px;
        font-family: 'Trap-SemiBold', sans-serif;
        text-transform: uppercase;
        color: #454545;
        line-height: normal;
        margin-bottom: 16px;
      }

    }

    .prgBlock{
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(-100px, -200px);
      font-size: 16px;
      font-family: 'Trap-SemiBold', sans-serif;
      color: #454545;
      text-transform: uppercase;
      line-height: normal;
      @include screen($wide-l){
        transform: translate(-50px, -50px);
      }
      @include screen($tablet){
        transform: translate(-50px, -50px);

      }
    }


    .circleBlock{
      width: 676px;
      height: 676px;
      position: relative;
      @include screen($tablet-l){
        height: 500px;
        width: 500px;
        min-width: 500px;
      }
      @include screen($tablet){
        scale: 0.75;
        margin-top: -100px;
      }
      @include screen($mobile-l){
        scale: 0.55;
      }

      .circleSVG{
        width: 100%;
        height: 100%;
      }

      .circleImg{
        position: absolute;
        z-index: 2;
        width: 36px;
        height: 36px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 1s ease-in-out all;
        &:before{
          font-size: 24px;
          color: #454545;
          font-family: 'Trap-SemiBold', sans-serif;
          line-height: 100%;
        }

        &:nth-child(1){
          right: 0;
          top: 50%;
          transform: translate(50%, -50%);
          &:before{
            content: 'ORPETRON';
            position: absolute;
            bottom: 50%;
            left: 40px;
            transform: translateY(60%);
            @include screen($tablet-w){
              transform: translate(-50px, 10px) rotate(90deg);
            }
          }
        }
        &:nth-child(2){
          left: 50%;
          top: 0;
          transform: translate(-50%, -50%);
          &:before{
            content: 'AWWWARD';
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &:nth-child(3){
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 50%);
          &:before{
            white-space: nowrap;
            content: 'CSS DESIGN AWARD';
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &:nth-child(4){
          left: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          &:before{
            content: 'FWA';
            position: absolute;
            top: 50%;
            right: 40px;
            transform: translateY(-40%);
            @include screen($tablet-w){
              transform: translate(20px, -10px) rotate(-90deg);
            }
          }
        }

      }

      .rotate{
        animation: rotate 12s linear infinite;
      }

      .insideCircle{
        height: 430px;
        width: 430px;
        background: rgba(41, 41, 41, 0.25);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include screen($tablet-l){
          width: 300px;
          height: 300px;
        }

        .spline{
          position: absolute;
          left: 0;
          top:0;
          width: 100%;
          height: 100%;
          transition: 0.8s ease-in-out all;
          canvas{
            width: 100% !important;
            height: 100% !important;
          }
          &:nth-child(2){
            scale: 0.9;
          }
        }
      }


    }
  }



  .lenta{
    width: 100%;
    height: 68px;
    background-color: #FF6C2C;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 20;

    .lentaLine{
      width: 110%;
      display: flex;
      align-items: start;
      justify-content: space-around;
      min-width: 1920px;

    }
    .line1{
      animation: lenta1 50s linear infinite;
    }
    .line2{
      animation: lenta2 50s linear infinite;

    }


    .lentaItem{
      width: max-content;
      display: flex;
      align-items: start;
      .lentaPrg{
        font-size: 20px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #1D1D1D;
        text-transform: uppercase;
        line-height: normal;
        white-space: nowrap;
      }

      .countSpan{
        font-size: 14px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #868686;
        line-height: normal;
      }
      img{
        margin: 2px 20px;
      }
    }
  }

  .backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500vh;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .circleSVG{
    rotate: -20deg;
  }




}

@keyframes rotate {
  0%{
    rotate: -20deg;
  }
  100%{
    rotate: 340deg;
  }
}

@keyframes  lenta1 {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-100%);
  }
  50.0001%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(0);
  }
}

@keyframes  lenta2 {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(-200%);
  }
}