@import "../../../source/styles/mixin.scss";


.secondBlockA{
  width: 100%;
  position: relative;
  padding: 0 20px;
  height: max-content;

  .vectorImg{
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
  }


  .mainBlock{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include screen($tablet-l){
      flex-direction: column;
      align-items: end;
    }


    .textBlock{
      @include screen($tablet-l){
        width: 100%;
      }
      .miniHeader{
        color: white;
        font-size: 42px;
        margin-bottom: 30px;
        font-family: 'Trap-Bold', sans-serif;
        text-transform: uppercase;
        line-height: 120%;
        @include screen($wide-l){
          font-size: 32px;
        }
        @include screen($tablet-m){
          font-size: 20px;
          margin-bottom: 20px;
        }

      }

      .text{
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 30px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #A6A6A6;
        line-height: 130%;
        text-transform: uppercase;
        max-width: 450px;
        @include screen($wide-l){
          font-size: 25px;
        }
        @include screen($wide){
          font-size: 21px;
        }
        @include screen($tablet-m){
          font-size: 15px;
        }
      }

      .verticalTextLines{
        display: flex;
        gap: 100px;
        align-items: start;
        margin-bottom: 45px;
        transform: translateY(100px);
        opacity: 0;
        transition: 1s ease-in-out all;
        @include screen($wide){
          gap: 50px;
        }
        @include screen($tablet-m){
          gap: 25px;
          margin-bottom: 20px;
        }
        .leftLine{
          max-width: 120px;
        }
      }

      .activeTextBlock{
        transform: translateY(0);
        opacity: 1;
      }

      .underPrg{
        margin-left: 200px;
        opacity: 0;
        transition: 1.2s ease-in-out all;
        transform: translateY(100px);
        @include screen($wide){
          margin-left: 50px;
        }
        @include screen($tablet-m){
          max-width: 300px;
        }
      }

      .activeUnderPrg{
        transform: translateY(0);
        opacity: 1
      }

    }

    .statisticBlock{
      padding: 50px 70px 30px;
      border: 1px solid #696969;
      background-color: #101010;
      border-radius: 20px;
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 3;
      margin-top: 250px;
      transition: 1s ease-in-out all;
      transform: translateY(100px);
      opacity: 0;
      overflow: hidden;
      margin-bottom: 300px;
      @include screen($wide-l){
        margin-right: 50px;
        padding: 50px 50px 30px;
        margin-bottom: 250px;
      }
      @include screen($wide){
        padding: 40px 30px 30px;
        margin-bottom: 200px;
      }
      @include screen($tablet-l){
        margin-top: 20px;
        padding: 50px 50px 30px;
        margin-bottom: 100px;
      }
      @include screen($tablet-m){
        padding: 30px;
        margin-bottom: 60px;
      }
      @include screen($mobile-l){
        margin-right: 0;
      }

      .count{
        font-size: 65px;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #A6A6A6;
        text-transform: uppercase;
        line-height: 120%;
        width: 100%;
        text-align: start;
        transition: 2s ease-in-out all;
        transform: translateY(50px);
        opacity: 0;
        @include screen($wide-l){
          font-size: 55px;
        }
        @include screen($tablet-m){
          font-size: 36px;
        }
      }
      .activeCount{
        transform: translateY(0);
        opacity: 1;
      }
      .miniHeader{
        width: 100%;
        text-align: start;
        margin-bottom: 40px;
        text-transform: uppercase;
        font-family: 'Trap-SemiBold', sans-serif;
        color: #EFEFF1;
        line-height: 120%;
        font-size: 40px;
        transition: 2.5s ease-in-out all;
        transform: translateY(50px);
        opacity: 0;
        @include screen($wide-l){
          font-size: 30px;
          white-space: nowrap;
        }
        @include screen($wide){
          font-size: 25px;
        }
        @include screen($tablet-m){
          font-size: 22px;
          margin-bottom: 30px;
        }
      }

      .activeMiniHeader{
        transform: translateY(0);
        opacity: 1;
      }

      .nextBtn{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        background-color: #FF6C2C;
        cursor: pointer;
        transition: 0.5s ease-in-out all;
        border: 1px solid #FF6C2C;
        @include screen($tablet-m){
          width: 65px;
          min-width: 65px;
          height: 65px;
          padding: 15px;
          img{
            width: 100%;
          }
        }
        &:hover{
          background-color: #1D1D1D;
        }
      }


    }

    .activeStatBlock{
      transform: translateY(0);
      opacity: 1;
    }




  }


}