@font-face {
  font-family: Eczar-Regular;
  src: url("./Eczar-Regular.ttf");
}

@font-face {
  font-family: Eczar-Medium;
  src: url("./Eczar-Medium.ttf");
}

@font-face {
  font-family: Eczar-SemiBold;
  src: url("./Eczar-SemiBold.ttf");
}

@font-face {
  font-family: Eczar-Bold;
  src: url("./Eczar-Bold.ttf");
}

@font-face {
  font-family: Eczar-ExtraBold;
  src: url("./Eczar-ExtraBold.ttf");
}