@import "../../../source/styles/mixin.scss";

.fifthBlock{
  max-width: 1440px;
  margin: 0 auto;


  .imgBlock{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    transform: translateY(100px) scale(0.8);
    opacity: 0;
    margin-bottom: 120px;
    transition: 1s ease-in-out all;
    @include screen($wide-l){
      height: 700px;
    }
    @include screen($wide){
      height: 550px;
      margin-bottom: 80px;
    }
    @include screen($tablet-l){
      height: 400px;
      margin-bottom: 60px;
    }
    @include screen($tablet){
      height: 300px;
    }
  }

  .header{
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family: 'Trap-SemiBold', sans-serif;
    color: #FF6C2C;
    line-height: normal;
    margin-bottom: 70px;
    transition: 1.2s ease-in-out;
    transform: translateY(50px);
    opacity: 0;
    @include screen($wide-l){
      font-size: 80px;
    }
    @include screen($wide-l){
      font-size: 60px;
    }
    @include screen($tablet-l){
      font-size: 40px;
      margin-bottom: 50px;
    }
    @include screen($tablet){
      font-size: 25px;
      margin-bottom: 0;
    }
  }


  .contactUsBtn{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF6C2C;
    padding: 22px 30px 18px;
    gap: 20px;
    background-color: transparent;
    border-radius: 64px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: translateY(50px);
    opacity: 0;
    @include screen($tablet-l){
      scale: 0.8;
    }
    @include screen($tablet){
      scale: 0.6;
    }
    &:hover{
      gap: 40px;
      padding: 22px 20px 18px;
      filter: brightness(1.2);
      .arrowImg{
        transform: rotateX(360deg);
      }
    }

    span{
      line-height: 100%;
      font-size: 40px;
      color: #FF6C2C;
      font-family: 'Trap-SemiBold', sans-serif;
      text-transform: uppercase;
    }

    .arrowImg{
      transition: 0.5s ease-in-out;
    }




  }




}