
.word {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;


  .wordLine {
    display: flex;
    align-items: center;
    .letter{
      line-height: 100%;
      transform: translateY(0);

    }
    &:nth-child(2){
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

}

.activeWord {
  .wordLine {
    .letter{
      transform: translateY(-100%) !important;
    }
  }
}