@import "../../../source/styles/mixin.scss";


.FifthBlockS{
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;


  .headerBlock{
    background-position: left !important;
    @include screen($wide-l){
      max-width: 600px !important;
    }
    @include screen($tablet-l){
      max-width: 450px !important;
    }
  }
  .bubbleImg{
    position: absolute;
    left: -100px;
    top: -50%;
    @include screen($tablet-l){
      width: 75%;
    }
    @include screen($tablet){
      top: 0;
      left: -50px;
    }
  }

  .textCont{
    max-width: 1200px;
    width: 100%;
    .text1{
      opacity: 0;
      transition: 1s ease-in-out all;
      transform: translateY(100px);
      text-align: end;
    }
    .ul1{
      width: max-content;
      margin: 100px auto 0;
      @include screen($wide){
        margin: 80px auto 0;
      }
      @include screen($tablet-l){
        margin: 60px auto 0;
      }
      @include screen($tablet){
        margin: 40px auto 0;
      }
      p{
        transform: translateX(100%);
        opacity: 0;
        &:nth-child(1){
          transition: 1s ease-in-out all;
        }
        &:nth-child(2){
          transition: 1.2s ease-in-out all;
        }
        &:nth-child(3){
          transition: 1.4s ease-in-out all;
        }
      }
    }
    .grayPrg{
      p{
        margin-bottom: 70px;
        position: relative;
        line-height: 100%;
        @include screen($tablet-l){
          margin-bottom: 50px;
        }
        @include screen($tablet){
          margin-bottom: 30px;
        }
        &:before{
          content: '';
          display: block;
          position: absolute;
          width: 15px;
          height: 15px;
          background-color: #FF6C2C;
          border-radius: 50%;
          left: -25px;
          top: 50%;
          transform: translateY(-50%);

        }
      }
    }
  }
}